body {
  /* black */
  --black-opacity: rgba(0, 0, 0, 0.8);
  --black-opacity-70: rgba(0, 0, 0, 0.7);
  --black-opacity-50: #0000007d;
  --black-opacity-40: #00000067;
  --black-opacity-30: #00000056;
  --black-opacity-20: #00000030;
  /* green */
  --light-green: #00ff57;
  --light-green-opacity: #00ff5596;
  --light-green-30: #00ff555c;
  --light-green-20: #00ff553f;
  --green: #00c821;
  --green-opacity: #00c821c3;
  --dark-green: #155a2c;
  --dark-green-opacity: #155a2cc7;
  --light-green-20: #00ff5535;
  --very-light-green: #37ff7a;
  --very-light-green-opacity: #37ff7ac7;
  /* gray */
  --very-light-gray: #efefef;
  --gray: #3f624a;
  --dark-gray: #1d2d2b;
  --dark-gray-opacity: #1d2d2bf5;
  --dark-gray-80: #1d2d2bd4;
  --dark-gray-50: #1d2d2b84;
  --dark-gray-30: #1d2d2b57;
  --dark-gray-20: #1d2d2b45;
  --very-dark-gray: #252525;
  --very-dark-gray-opacity: #252525b9;
  --very-dark-gray-opacity-30: #2525254e;

  /* base */
  --background: #fff;
  --background-opacity: #ffffffb5;
  --background-opacity-30: #ffffff54;
  --background-gray: var(--very-light-gray);
  --font-color: var(--dark-gray);
  --font-color-gray: var(--gray);
  --font-color-green: var(--dark-green);
  --font-color-green-hover: var(--green);
  --background-green: var(--dark-green);
  --background-green-hover: var(--green);
  --background-green-opacity: var(--green-opacity);
  --background-green-hover-opacity: var(--dark-green-opacity);
}

body.dark {
  --background: var(--very-dark-gray);
  --background-opacity: var(--very-dark-gray-opacity);
  --background-opacity-30: var(--very-dark-gray-opacity-30);
  --background-gray: var(--very-dark-gray);
  --font-color: #fff;
  --font-color-gray: var(--very-light-gray);
  --font-color-green: var(--very-light-green);
  --font-color-green-hover: var(--light-green);
  --background-green: var(--very-light-green);
  --background-green-hover: var(--light-green);
  --background-green-opacity: var(--very-light-green-opacity);
  --background-green-hover-opacity: var(--light-green-opacity);
}
