// colors

$primary: #7acf87;
$primary-hover: #439c51;

$white: #fff;
$black: #000;
$black-25: rgba(0, 0, 0, 0.25);
$gray: rgb(105, 105, 105);
$dark-orange: #f1592a;

$form-bg: #fbfbfb;
$form-border: #dfdfdf;

// transitions

$transition-fast: all 0.2s ease-in-out;
$transition: all 0.4s ease-in-out;
$transition-slow: all 0.6s ease-in-out;

// breakpoints

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
