.custom-checkbox-group {
  display: block;

  .custom-checkbox-input {
    display: none;
    width: initial;
    height: initial;
    margin-bottom: 0;
    padding: 0;
    cursor: pointer;

    &:checked + label:after {
      opacity: 1;
    }
  }
}

.custom-checkbox-label {
  position: relative;
  cursor: pointer;

  &::before {
    content: "";
    display: inline-block;
    position: relative;
    margin-right: 5px;
    padding: 10px;
    border: 3px solid var(--font-color-green);
    border-radius: 5px;
    background-color: transparent;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
      inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    left: 9px;
    width: 6px;
    height: 14px;
    transform: rotate(45deg);
    transition: 0.3s;
    border: solid var(--font-color-green);
    border-width: 0 3px 3px 0;
    opacity: 0;
  }
}
