.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 1.5rem;
  padding: 1.2rem 2rem;
  transition: 0.3s;
  border-radius: 100vh;
  box-shadow: -4px 4px 20px 3px rgba(0, 0, 0, 0.75);
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  word-break: keep-all;
  gap: 0.5rem;

  &.small {
    padding: 0.65rem 1.5rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    font-size: 0.9rem;
    font-weight: normal;
  }
}

.link.variant1 {
  margin-top: 0rem; 
  background-color: var(--very-light-green);

  @media (min-width: 30em) {
    min-width: 20rem;
  }

  &:hover,
  &:focus,
  &:active {
    background-color: var(--light-green);
  }
}
.link.variant2 {
  margin-top: 0rem;
  background-color: var(--light-green);

  &:hover,
  &:focus,
  &:active {
    background-color: var(--green);
  }
}
.link.variant3 {
  position: relative;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  border: none;
  background-color: transparent;
  color: #fff;

  * {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(
      to left,
      var(--black-opacity-20),
      var(--black-opacity-30)
    );
  }

  &:hover,
  &:focus,
  &:active {
    color: var(--very-light-green);

    &::before {
      transform: translateX(-30%);
    }
  }
}
.link.variant4 {
  position: relative;
  width: 100%;
  padding-block: 1rem;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  border: none;
  background-color: transparent;

  * {
    position: relative;
    z-index: 3;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    transition: all 0.4s ease-in-out;
    background: linear-gradient(
      to right,
      var(--dark-green),
      var(--light-green)
    );
  }

  &:hover::before,
  &:focus::before,
  &:active::before {
    transform: translateX(-110%);
  }
}
