.green-list {
  &.list {
    & .li-icon {
      order: -1;
      transition: 0.3s;
    }

    & .li-icon svg {
      width: 35px;

      path {
        fill: var(--font-color-green-hover);
      }
    }
  }

  &.green-list--variant2 {
    &.list {
      & .li-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 55px;
        height: 55px;
        border-radius: 50%;
        background-color: var(--light-green);
        box-shadow: -9px 9px 23px 3px rgba(0, 0, 0, 0.75);
      }

      & li:nth-child(even) .li-icon {
        background-color: var(--green);
      }

      & .li-icon svg path {
        fill: #fff;
      }
    }
  }

  &.list {
    display: flex;
    flex-direction: column;
    padding-top: 1.8rem;
    gap: 0.5rem;

    & > li { 
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      &:hover,
      &:focus,
      &:active {
        .li-icon {
          background-color: transparent !important;
        }
      }
    }

    & .li-title {
      display: block;
      padding-bottom: 0.2rem;
      color: var(--font-color);
      font-size: 1rem;
      font-weight: bold;
    }
  }
}
