@use "../base/variables" as *;
@use "../functions/toRem" as *;
@use "./main-navigation";

#user-achievements-module {
  --achievement-size: 3.5rem;
  --grid-gap: 0.5rem;

  position: relative;
  width: 100%;
  min-height: 100vh;
  padding-block: 4rem;
  padding-inline: 0;
  color: var(--font-color);

  @media (min-width: 53.125rem) and (max-width: $content-breakpoint-tablet-large) {
    --achievement-size: 3rem;
    --grid-gap: 0.35rem;
  }

  @media (min-width: $content-breakpoint-desktop) {
    --achievement-size: 4rem;
    --grid-gap: 0.75rem;
  }

  @media (min-width: $content-breakpoint-desktop-large) {
    --achievement-size: 4.5rem; 
  }

  @media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
      transition: none !important;
      transition-duration: 0ms !important;
      -webkit-animation-duration: 0ms !important;
      animation-duration: 0ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
      scroll-behavior: auto !important;
    }
  } 

  .pagination {  
    margin-top: 2rem;

    .tab-button {
      flex: 1;
      padding-inline: 0;

      @media (min-width: $content-breakpoint-tablet-small) {
        flex: 0;
        padding-inline: 1.5rem;
      }
    }

    .tab-text {
      display: none;

      @media (min-width: $content-breakpoint-tablet-small) {
        display: inline;
      }
    }
  }

  .main-layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    padding-bottom: 0;
    padding-inline: 0;
    gap: 2rem;

    .main-content-wrapper {
      position: relative;
      min-height: toRem(800);

      .panel {
        --animation-duration: 0.35s;
        --panel-opacity: 0;

        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        transform: translateZ(0);
        transition: opacity var(--animation-duration) ease-in-out;
        opacity: var(--panel-opacity); 
        pointer-events: none;  
        will-change: opacity;

        &-padding {
          padding-bottom: 2rem;
          padding-inline: 0.85rem;

          @media (min-width: $content-breakpoint-phone) {
            padding-inline: 1rem;
          }

          @media (min-width: $content-breakpoint-tablet) {
            padding-inline: 1.5rem;
          }

          @media (min-width: $content-breakpoint-desktop-large) {
            padding-inline: 2rem;
          }
        }
        &.active {
          display: grid; 
          pointer-events: auto;
          --panel-opacity: 1;
        }

        &.page-transitioning-in {
          --panel-opacity: 0;
        }

        &.page-transitioning-out {
          --panel-opacity: 1;
        } 
      }
    }
  }
}
