@use "../utils/variables" as *;
@use "../utils/animations";

.hero__img-cloud {
  right: -150px;
  -webkit-animation: move 45s 0s linear infinite;
          animation: move 45s 0s linear infinite;

  &-1 {
    top: 50px;
    scale: 0.7;
    -webkit-animation-duration: 35s;
            animation-duration: 35s;
  }

  &-2 {
    -webkit-animation-delay: 10s;
            animation-delay: 10s;
  }
}
