@use "../components/sr-only";
@use "../functions/toRem" as *;

#user-achievements-module {
  .custom-popover { 
    
    height: 100%;
    
    
    &-content {
      // position: relative;
      display: block;
      // z-index: 998 !important;
      padding: 0.75rem 0.9375rem !important;
      
    }

    &-button {
      width: 100%;
      color: inherit;
      font-size: inherit;
    }
  }
}
