@use "../base/variables" as *;
@use "../functions/toRem" as *;

#user-achievements-module {
  highlight-button {
    --size: 3rem;

    position: absolute;
    z-index: 12;
    top: 0;
    left: 0;
    width: var(--size);
    height: var(--size); 
    cursor: pointer;
    pointer-events: all;

    .highlight-btn {
      width: 100%;
      height: 100%;
      background-color: #00000088 !important;
      background-color: transparent;
      color: #fff;
      font-size: 1.4rem !important;

      &:hover,
      &:focus,
      &:active {
        background-color: #000000cf !important;
      }
    }
  }
}
