@use "../functions/toRem" as *;

#user-achievements-module {
  .floating-label-grid {
    display: grid;
    gap: 1rem;
  }

  .floating-label {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    padding: 0.25rem 0.75rem;

    transform: translateY(-50%);
    transition: transform 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), color 0.2s;
    border-radius: 0.375em;
    background: #fff;
    color: hsl(0, 0%, 50%);
    font-size: 0.9375rem;
    line-height: 1;
    -webkit-clip-path: none;
    clip-path: none;

    &--for-select {
      transform: translateY(-100%);
      background-color: transparent;
    }
  }

  .floating-label-control {
    padding: 0.75rem;
    color: var(--font-color);
    background-color: var(--background-50);
  }

  .floating-label-control:placeholder-shown + .floating-label {
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    transform: translateY(-25%);
  }

  .floating-label-control:focus {
    background-color: var(--background);
  }
  .floating-label-control:focus ~ .upt-icon {
    color: var(--green);
  }
  .floating-label-control:focus + .floating-label {
    color: var(--green);
  }

  .upt-form-control {
    position: relative;
    width: 100%;
    padding: 0.5rem;
    padding-left: 1rem;
    transition: 0.2s;
    border: none;
    background: var(--background-50);
    font-family: inherit;
    font-size: 1em;
    line-height: 1.2;

    &::-webkit-input-placeholder {
      opacity: 1;
      color: var(--font-color-gray);
    }

    &::-moz-placeholder {
      opacity: 1;
      color: var(--font-color-gray);
    }

    &:-ms-input-placeholder {
      opacity: 1;
      color: var(--font-color-gray);
    }

    &::-ms-input-placeholder {
      opacity: 1;
      color: var(--font-color-gray);
    }

    &::placeholder {
      opacity: 1;
      color: var(--font-color-gray);
    }

    &:focus,
    &:focus-within {
      // outline: none;
    }
  }

  .upt-search-form {
    display: flex;
    align-items: center;
    width: 100%;

    .upt-search-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: toRem(47);
      padding: 0 1rem !important;
      border-radius: 0.375em;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      font-size: 1.15rem;
    }
  }

  .upt-search-box {
    position: relative;
    width: 100%;

    input[type="search"] {
      width: 100%;
      min-height: toRem(47);
      border-radius: 0.375em;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-color: var(--light-green);
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}
