@use "../functions/toRem" as *;

#user-achievements-module {
  .hidden-animation {
    position: absolute;
    z-index: -999;
    opacity: 0;
    pointer-events: none;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
}

.sr-only:not(:focus):not(:active) {
  @extend .visually-hidden;
}
