$content-breakpoint-desktop-large: 103.125em; // 1650px
$content-breakpoint-desktop: 85em; // 1360px
$content-breakpoint-desktop-small: 72em; // 1152px
$content-breakpoint-tablet-large: 65em; // 1040px
$content-breakpoint-tablet: 55em; // 880px
$content-breakpoint-tablet-small: 45em; // 720px
$content-breakpoint-phone-large: 40em; // 640px
$content-breakpoint-phone: 30em; // 480px
$content-breakpoint-phone-small: 25em; // 400px 