@use "../utils/variables" as *;
@use "../components/menu-btn";
@use "../components/nav-brand";

.nav {
  &-link {
    transition: $transition;
  }

  &-icon {
    width: 25px;
    transition: $transition-fast;
  }

  &bar {
    z-index: 999;
    background-color: $white;
    box-shadow: $black-25 1.95px 1.95px 2.6px;

    .show {
      .navbar-nav {
        transform: translateX(0);
      }
    }

    &-skip {
      z-index: 999;
    }

    &-nav {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 30px;
      padding-top: 20vh;
      transform: translateX(100%);
      transition: $transition;
      transition-delay: 0s;
      background-color: $primary;
      font-size: 2rem;
      font-weight: bold;

      .nav-link {
        color: $white;

        &:hover,
        &:focus,
        &:active {
          color: $black;
        }
      }

      .nav-item-socials {
        position: absolute;
        bottom: 30px;
        left: 30px;
      }

      .nav-icon {
        fill: $white;

        &:hover,
        &:focus,
        &:active {
          fill: $black;
        }
      }

      @media (max-height: 530px) {
        padding-top: 13vh;
        font-size: 1.9rem;

        .nav-item-socials {
          right: 30px;
          bottom: 20px;
          left: auto;
        }
      }

      @media (min-width: $lg) {
        position: static;
        align-items: center;
        width: auto;
        padding: 0px;
        transform: none;
        background-color: $white;
        font-size: 1rem;
        font-weight: normal;
        gap: 20px;

        .nav-link {
          color: $black;

          &:hover,
          &:focus,
          &:active {
            color: $primary-hover;
          }
        }

        .nav-item-socials {
          position: static;
        }

        .navbar-menu-socials {
          border-left: 2px solid $black-25;
        }

        .nav-icon {
          fill: $black;

          &:hover,
          &:focus,
          &:active {
            fill: $primary-hover;
          }
        }
      }
    }

    &-socials {
      list-style: none;
    }
  }
}
