#quick-access {
  padding: 5rem 0;
  background: linear-gradient(
    to left,
    var(--background-gray),
    var(--background)
  );

  .big-header {
    color: var(--font-color);
  }

  .header {
    .text {
      font-size: 1rem;
    }
  }

  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 2rem;
    column-gap: 2rem;

    .card {
      --card-border-radius: 20px;
      --card-padding-inline: 1.5rem;

      &:hover {
        .tip-text {
          transform: translateY(2rem);
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
      }

      .tip-text {
        height: 5rem;
        padding: 0 var(--card-padding-inline);
        padding-top: 1rem;
        transform: translateY(5rem);
        transition: all 0.3s;
        border-top-left-radius: var(--card-border-radius);
        border-top-right-radius: var(--card-border-radius);
        background-color: #fff;
        color: var(--dark-gray);
        font-size: 0.85rem;
        font-weight: bold;
      }

      .card-container {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;
        width: 100%;
        max-width: 25rem;
        min-height: 30rem;
        transition: all 0.3s;
        border-radius: var(--card-border-radius);
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0px -20rem 53px -40px #000000af,
          rgba(0, 0, 0, 0.63) 0px 19px 38px, rgba(0, 0, 0, 0.52) 0px 15px 12px;
        color: #fff;

        &:hover,
        &:focus,
        &:active { 
          background-position-y: 140%;
          box-shadow: inset 0px -20rem 53px -40px #000000c3,
            rgba(0, 0, 0, 0.63) 0px 19px 38px, rgba(0, 0, 0, 0.52) 0px 15px 12px;

          .small-header {
            color: var(--very-light-green);
          }
 
          .icon-top {
            svg path {
              transition: 0.3s;
              fill: var(--light-green);
            }
          }
        }
        .content {
          padding-inline: var(--card-padding-inline);
        }
        .small-header {
          padding-bottom: 0.5rem;
        }
        .text {
          padding: 0;
          color: var(--very-light-gray);
        }
        .bottom {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 100%;
          margin-top: var(--card-padding-inline);
          padding: 1.2rem var(--card-padding-inline);
          border-bottom-right-radius: var(--card-border-radius);
          border-bottom-left-radius: var(--card-border-radius);
          background-color: var(--dark-gray-80);
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);

          .text {
            font-size: 0.8rem;
          }

          svg path {
            fill: #fff;
          }
        }
        .icon-top {
          display: flex;
          position: absolute;
          top: var(--card-padding-inline);
          right: var(--card-padding-inline);
          align-items: center;
          justify-content: center;
          width: 45px;
          border-radius: 50%;
          background-color: var(--dark-gray-opacity);
          aspect-ratio: 1/1;

          svg path {
            fill: #fff;
          }
        }

        &-1 {
          background-image: url("../images/quick-access-1.jpg");
        }
        &-2 {
          background-image: url("../images/quick-access-2.png");
        }
        &-3 {
          background-image: url("../images/quick-access-3.png");
        }
        &-4 {
          background-image: url("../images/quick-access-4.png");
        }
        &-5 {
          background-image: url("../images/quick-access-5.png");
        }
        &-6 {
          background-image: url("../images/quick-access-6.png");
        }
      }
    }
  }
}
