#timeline-module {
  margin: 0 auto;
  padding-block: 6rem;
  --timeline-strap-width: 0.2rem;

  .header {
    .text {
      font-size: 1rem;
    }
  }

  .timeline {
    max-width: 70rem;
    margin: 0 auto;
    padding: 0 5%;
  }

  .timeline-content {
    .small-header {
      font-size: 1.25rem;
    }

    .hr-header {
      margin-block: 0.5rem;
    }

    .header {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 0.5rem;

      .timeline-icon {
        order: 2;
      }
    }
  }
  .timeline-icon {
    width: 2rem;

    path {
      fill: var(--font-color);
    }
  }

  .timeline-item {
    display: flex;
    align-items: flex-start;

    .timeline-content,
    .timeline-title {
      flex: 1;
      padding: 1rem 1.5rem;

      &:last-child {
        padding-bottom: 1.5rem !important;
        text-align: left;
      }
    }

    &:nth-child(odd) {
      & > .timeline-title:first-child {
        position: relative;
        text-align: right;

        &::after {
          right: -0.6875rem;
        }
      }

      & > .timeline-content:last-child {
        border-left: var(--timeline-strap-width) solid #e0e0e0;
        text-align: left;
      }

      .timeline-content {
        .header {
          justify-content: flex-start;

          .timeline-icon {
            order: -1;
          }
        }
      }

      .timeline-content > .small-header {
        text-align: left !important;
      }

      .timeline-title-text {
        margin-right: 0;
      }
    }

    &:nth-child(even) {
      & > .timeline-title:first-child {
        position: relative;
        order: 2;
        text-align: left;

        &::after {
          left: -1px;
        }
      }

      & > .timeline-content:last-child {
        order: 1;
        border-right: var(--timeline-strap-width) solid #e0e0e0;
        text-align: right;
      }

      .timeline-title-text {
        margin-left: 0;
      }

      .timeline-content > .small-header {
        text-align: right !important;
      }
    }

    & > .timeline-title:first-child::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 0.625rem;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      background-color: var(--background-green-hover);
      box-shadow: 0 0 0 2px var(--background-green-hover-opacity);
      aspect-ratio: 1/1;
    }

    &:hover {
      & > .timeline-title:first-child::after {
        -webkit-animation: shadow-dot-pulse 1s ease-in-out infinite;
        animation: shadow-dot-pulse 1s ease-in-out infinite;
      }
    }

    .timeline-title-text {
      max-width: -webkit-max-content;
      max-width: -moz-max-content;
      max-width: max-content;
      margin: auto;
      padding: 0.75rem 2rem;
      border-radius: 10px;
      background-color: var(--background-green-hover);
      box-shadow: 0 0 0 2px var(--background-green-hover-opacity);
      color: #ffffff;
      font-size: 1.1rem;
      font-weight: bold;
      text-align: center;
    }

    .timeline-content {
      & > .small-header {
        margin: 0;
        font-size: 1.25em;
        font-weight: bold;
      }
    }

    &:not(:last-child) .timeline-content > .timeline-icon {
      margin-bottom: 4.375rem;
    }
  }

  @media (max-width: 50em) {
    .timeline-item {
      flex-direction: column;
      border-left: var(--timeline-strap-width) solid #e0e0e0;

      & > .timeline-title,
      & > .timeline-content {
        order: unset !important;
        border-width: 0 !important;
        text-align: left !important;

        &::after {
          left: 0% !important;
        }
      }

      .header {
        justify-content: flex-start;

        .timeline-icon {
          order: -1;
        }
      }

      &:nth-child(odd) .timeline-content > p {
        text-align: left !important;
      }

      &:nth-child(even) .timeline-content > p {
        text-align: left !important;
      }
    }
  }
}

@-webkit-keyframes shadow-dot-pulse {
  0% {
    box-shadow: 0 0 0 2px var(--background-green-hover-opacity);
  }
  50% {
    box-shadow: 0 0 0 4px var(--background-green-hover-opacity);
  }
  100% {
    box-shadow: 0 0 0 2px var(--background-green-hover-opacity);
  }
}

@keyframes shadow-dot-pulse {
  0% {
    box-shadow: 0 0 0 2px var(--background-green-hover-opacity);
  }
  50% {
    box-shadow: 0 0 0 4px var(--background-green-hover-opacity);
  }
  100% {
    box-shadow: 0 0 0 2px var(--background-green-hover-opacity);
  }
}
