#used-technologies {
  padding: 5rem 0;
  background: linear-gradient(
    to left,
    var(--background-gray),
    var(--background)
  );

  .text-intro {
    max-width: 60rem;
    font-size: 1rem;
  }

  .top-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 0px;
    gap: 2rem;

    @media (min-width: 75em) {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(min(20rem, 100%), 1fr));
    }

    @media (min-width: 87.5em) {
      gap: 3rem;
    }

    .technology-content {
      width: 100%;

      @media (min-width: 43.75em) {
        max-width: 26rem;
      }

      @media (min-width: 75em) {
        max-width: none;
      }

      .sub-header {
        padding-bottom: 0;
        font-size: 0.9rem;
      }

      .hr-header {
        margin-block: 0.5rem;
      }

      .text {
        font-size: 1rem;
      }
    }

    .short-dsc-header {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-bottom: -1rem;

      .short-dsc-title {
        color: var(--background-green);
        font-size: 0.9rem;
        font-weight: bold;
        text-transform: uppercase;
      }

      .short-dsc-icon {
        max-height: 1.8rem;

        path {
          fill: var(--background-green);
        }
      }
    }

    .technology-content-list {
      .li-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        background: var(--background);
        background: linear-gradient(
          to left,
          var(--background-gray),
          var(--background)
        );
        box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
          -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);

        svg path {
          fill: var(--font-color);
        }
      }
    }

    .technology-icon {
      display: block;
      width: 100%;
      max-height: 16rem;
      margin: 0 auto;

      @media (min-width: 87.5em) {
        max-width: none;
        max-height: 24rem;
      }
    }
  }

  .bottom-content {
    .used-technologies-list {
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
      margin-top: 1.5rem;
      list-style: none;
      gap: 2rem;

      & li {
        display: grid;
        grid-template:
          "icon"
          "line"
          "dot"
          "title"
          "descr" 1fr;
        align-items: flex-start;
        width: 12rem;
        text-align: center;
        justify-self: center;
        justify-items: center;
      }

      & li .icon {
        display: grid;
        grid-area: icon;
        width: 6rem;
        border-radius: 50%;
        background: var(--background);
        background: linear-gradient(
          to left,
          var(--background-gray),
          var(--background)
        );
        box-shadow: -0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.45),
          -0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.45);
        color: white;
        font-size: 2.5rem;
        aspect-ratio: 1/1;
        place-items: center;

        svg {
          max-width: 3.15rem;
          max-height: 3.15rem;
        }
      }

      & li::before {
        content: "";
        grid-area: line;
        height: 2rem;
        border-right: 5px dotted var(--background-green-hover-opacity);
      }

      & li::after {
        content: "";
        grid-area: dot;
        width: 1rem;
        margin-bottom: 0.5rem;
        border-radius: 50%;
        background: var(--accent-color);
        aspect-ratio: 1;
        justify-self: center;
        box-shadow: rgba(0, 0, 0, 0.55) 0px 2px 5px -1px,
          rgba(0, 0, 0, 0.7) 0px 1px 3px -1px;
      }

      & li .title {
        grid-area: title;
        margin-block: 0.45rem;
        font-size: 1.1rem;
        font-weight: 600;
        text-align: center;
      }
    }
  }

  .icon-backend {
    #XMLID_87_,
    #XMLID_85_,
    #XMLID_83_ {
      -webkit-animation: twinkle 3s ease-in-out infinite;
      animation: twinkle 3s ease-in-out infinite;
    }

    #XMLID_85_ {
      -webkit-animation-delay: 0.4s;
      animation-delay: 0.4s;
    }

    #XMLID_83_ {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .line-t,
    .line-m,
    .line-b {
      -webkit-animation: shrink 1.8s ease-in-out infinite;
      animation: shrink 1.8s ease-in-out infinite;
    }

    .line-m {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }

    .line-b {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .code {
      &-letter_o {
        -webkit-animation: typingO 3s linear infinite;
        animation: typingO 3s linear infinite;
      }

      &-letter_d {
        -webkit-animation: typingD 3s linear infinite;
        animation: typingD 3s linear infinite;
      }

      &-letter_e {
        -webkit-animation: typingE 3s linear infinite;
        animation: typingE 3s linear infinite;
      }

      @-webkit-keyframes typingE {
        20.1%,
        80% {
          fill: transparent;
        }

        20%,
        80.1% {
          fill: #fff;
        }
      }

      @keyframes typingE {
        20.1%,
        80% {
          fill: transparent;
        }

        20%,
        80.1% {
          fill: #fff;
        }
      }

      @-webkit-keyframes typingD {
        30.1%,
        70% {
          fill: transparent;
        }

        30%,
        70.1% {
          fill: #fff;
        }
      }

      @keyframes typingD {
        30.1%,
        70% {
          fill: transparent;
        }

        30%,
        70.1% {
          fill: #fff;
        }
      }

      @-webkit-keyframes typingO {
        40.1%,
        60% {
          fill: transparent;
        }

        40%,
        60.1% {
          fill: #fff;
        }
      }

      @keyframes typingO {
        40.1%,
        60% {
          fill: transparent;
        }

        40%,
        60.1% {
          fill: #fff;
        }
      }
    }

    .hover {
      -webkit-animation-play-state: paused !important;
      animation-play-state: paused !important;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
    }

    &:hover {
      .hover {
        -webkit-animation-play-state: running !important;
        animation-play-state: running !important;
      }
    }
  }

  .icon-mobile {
    .line-t,
    .line-m,
    .line-b {
      -webkit-animation: shrink 2.2s ease-in-out infinite;
      animation: shrink 2.2s ease-in-out infinite;
    }

    .play-btn polygon {
      -webkit-animation: twinkle 3s linear infinite;
      animation: twinkle 3s linear infinite;
    }

    .line-m {
      -webkit-animation-delay: 0.3s;
      animation-delay: 0.3s;
    }

    .line-b {
      -webkit-animation-delay: 0.6s;
      animation-delay: 0.6s;
    }

    .ruler {
      transform-origin: 300px 200px;
      -webkit-animation: bounceBFt2 2s ease-in-out infinite;
      animation: bounceBFt2 2s ease-in-out infinite;
    }

    .hook {
      transform-origin: 148px 24px;
      -webkit-animation: bounce3 1.6s ease-in-out infinite;
      animation: bounce3 1.6s ease-in-out infinite;
    }

    .play-bar--play {
      opacity: 1;
    }

    .play-bar--pause {
      opacity: 0;
    }

    .hover {
      -webkit-animation-play-state: paused !important;
      animation-play-state: paused !important;
    }

    &:hover {
      .hover {
        -webkit-animation-play-state: running !important;
        animation-play-state: running !important;
      }

      .play-bar--play {
        opacity: 0;
      }

      .play-bar--pause {
        opacity: 1;
      }
    }
  }

  .icon-frontend {
    .ruler {
      -webkit-animation: bounceBF 1.8s ease-in-out infinite;
      animation: bounceBF 1.8s ease-in-out infinite;
    }

    .panel {
      -webkit-animation: twinkle3 3s ease-in-out infinite;
      animation: twinkle3 3s ease-in-out infinite;

      &2 {
        -webkit-animation-delay: 0.5s;
        animation-delay: 0.5s;
      }

      &3 {
        -webkit-animation-delay: 1s;
        animation-delay: 1s;
      }

      &4 {
        -webkit-animation-delay: 1.5s;
        animation-delay: 1.5s;
      }

      &5 {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
      }
    }

    .line-1 {
      transform-origin: 162px;
      -webkit-animation: shrink 2s ease-in-out infinite;
      animation: shrink 2s ease-in-out infinite;
    }

    .line-2,
    .line-3 {
      transform-origin: 144.3px 0;
      -webkit-animation: shrink 2s ease-in-out infinite;
      animation: shrink 2s ease-in-out infinite;
    }

    .line-2 {
      -webkit-animation-delay: -0.4s;
      animation-delay: -0.4s;
    }

    .blink1,
    .blink2,
    .blink3 {
      -webkit-animation: 6s linear infinite;
      animation: 6s linear infinite;
    }

    .blink1 {
      -webkit-animation-name: bubble-b;
      animation-name: bubble-b;
    }

    .blink2 {
      -webkit-animation-name: bubble-m;
      animation-name: bubble-m;
    }

    .blink3 {
      -webkit-animation-name: bubble-t;
      animation-name: bubble-t;
    }

    .play-btn {
      opacity: 1;
    }

    .pause-btn {
      opacity: 0;
    }

    .hover {
      -webkit-animation-play-state: paused;
      animation-play-state: paused;
    }

    &:hover {
      .play-btn {
        opacity: 0;
      }
      .pause-btn {
        opacity: 1;
      }

      .hover {
        -webkit-animation-play-state: running;
        animation-play-state: running;
      }
    }
  }

  @-webkit-keyframes twinkle {
    0%,
    50%,
    100% {
      transform: scale(1);
    }

    25%,
    75% {
      transform: scale(1.6);
    }
  }

  @keyframes twinkle {
    0%,
    50%,
    100% {
      transform: scale(1);
    }

    25%,
    75% {
      transform: scale(1.6);
    }
  }

  @-webkit-keyframes twinkle2 {
    0%,
    50%,
    100% {
      transform: scale(1);
    }

    25%,
    75% {
      transform: scale(1.07);
    }
  }

  @keyframes twinkle2 {
    0%,
    50%,
    100% {
      transform: scale(1);
    }

    25%,
    75% {
      transform: scale(1.07);
    }
  }

  @-webkit-keyframes twinkle3 {
    0%,
    50%,
    100% {
      transform: scale(1);
    }

    25%,
    75% {
      transform: scale(1.14);
    }
  }

  @keyframes twinkle3 {
    0%,
    50%,
    100% {
      transform: scale(1);
    }

    25%,
    75% {
      transform: scale(1.14);
    }
  }

  @-webkit-keyframes bubble-t {
    26%,
    80% {
      transform: scale(0);
    }

    20%,
    86% {
      transform: scale(1);
    }
  }

  @keyframes bubble-t {
    26%,
    80% {
      transform: scale(0);
    }

    20%,
    86% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes bubble-m {
    36%,
    70% {
      transform: scale(0);
    }

    30%,
    76% {
      transform: scale(1);
    }
  }

  @keyframes bubble-m {
    36%,
    70% {
      transform: scale(0);
    }

    30%,
    76% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes bubble-b {
    46%,
    60% {
      transform: scale(0);
    }

    40%,
    66% {
      transform: scale(1);
    }
  }

  @keyframes bubble-b {
    46%,
    60% {
      transform: scale(0);
    }

    40%,
    66% {
      transform: scale(1);
    }
  }

  @-webkit-keyframes bounce {
    50% {
      transform: rotate(-6deg);
    }
  }

  @keyframes bounce {
    50% {
      transform: rotate(-6deg);
    }
  }

  @-webkit-keyframes bounce2 {
    50% {
      transform: rotate(6deg);
    }
  }

  @keyframes bounce2 {
    50% {
      transform: rotate(6deg);
    }
  }

  @-webkit-keyframes bounce3 {
    50% {
      transform: rotate(3deg);
    }
  }

  @keyframes bounce3 {
    50% {
      transform: rotate(3deg);
    }
  }

  @-webkit-keyframes bounceBF {
    0%,
    100% {
      transform: rotate(1.6deg);
    }

    50% {
      transform: rotate(-1.6deg);
    }
  }

  @keyframes bounceBF {
    0%,
    100% {
      transform: rotate(1.6deg);
    }

    50% {
      transform: rotate(-1.6deg);
    }
  }

  @-webkit-keyframes bounceBFt2 {
    0%,
    100% {
      transform: rotate(4.6deg);
    }

    50% {
      transform: rotate(-4.6deg);
    }
  }

  @keyframes bounceBFt2 {
    0%,
    100% {
      transform: rotate(4.6deg);
    }

    50% {
      transform: rotate(-4.6deg);
    }
  }

  @-webkit-keyframes shrink {
    50% {
      transform: scaleX(0.3);
    }
  }

  @keyframes shrink {
    50% {
      transform: scaleX(0.3);
    }
  }

  @-webkit-keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }

  @-webkit-keyframes rotate-reverse {
    to {
      transform: rotate(-1turn);
    }
  }

  @keyframes rotate-reverse {
    to {
      transform: rotate(-1turn);
    }
  }
}
