@use "./base/base";
@use "./functions/toRem";
@use "./base/variables";
@use "./components/tooltip-link";
@use "./components/links";
@use "./components/list";
@use "./components/modern-card";
@use "./components/custom-select";
@use "./components/custom-range";
@use "./components/custom-checkbox";
@use "./components/sr-only";
@use "./components/scroll-to-top";
@use "./components/circular-progress-bar";
@use "./components/badge";
@use "./components/animated-progress";
@use "./components/symbol-card";
@use "./components/modern-card-content";
@use "./components/custom-accordions";
@use "./components/custom-scrollbar";

@use "./sections/green-faq";
@use "./sections/our-mission-information";
@use "./sections/collection-list";
@use "./sections/used-technologies";
@use "./sections/quick-access";
@use "./sections/how-it-works";
@use "./sections/timeline-module";
@use "./sections/table-info";
@use "./sections/quote-section";
@use "./sections/quote-section-variant-2";
@use "./sections/modules-and-tools";
@use "./sections/random-trail-info";
@use "./sections/places-module";
@use "./sections/trials-close-to-you";
@use "./sections/more-information-module";

#toggle-theme-btn { 
  position: fixed; 
  z-index: 999;
  top: 0.5rem;
  right: 0.5rem;
  padding: 10px;
  background-color: #fff;

  .toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    color: #000;
  }

  input {
    height: 2rem;
    aspect-ratio: 1/1;
  }
}
