@use "../functions/toRem" as *;

#user-achievements-module {
  @-webkit-keyframes shake-animation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes shake-animation {
    0% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-5px);
    }
    50% {
      transform: translateX(5px);
    }
    75% {
      transform: translateX(-5px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .shake-animation { 
    -webkit-animation: shake-animation 0.4s ease-in-out; 
            animation: shake-animation 0.4s ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
