@use "../../base/variables" as *;
@use "../../functions/toRem" as *;

#user-achievements-module {
  .badge-details {
    --text-value-shadow: var(--very-dark-gray);
    
    position: relative;
    max-width: toRem(1100);
    background: linear-gradient(to left, var(--background), var(--badge-color));

    &-card {
      padding: 1rem;
      border-radius: 15px;
      box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;

      @media (min-width: $content-breakpoint-tablet-large) {
        padding: 2rem;
      }
    }

    &-content {
      display: grid;
      position: relative;
      grid-template-columns: 1fr;
      align-items: center;
      gap: toRem(15);

      @media (min-width: $content-breakpoint-tablet-small) {
        gap: toRem(25);
      }
      @media (min-width: $content-breakpoint-tablet) {
        grid-template-columns: repeat(2, 1fr);
      }
    }

    &-image-container {
      display: flex;
      flex-direction: column; 
      align-items: center;
      justify-content: center;
      border-radius: var(--border-radius);
      background: var(--background-dark); 

      .card-3D {
        max-width: toRem(250);
        border-radius: 50%;

        @media (min-width: $content-breakpoint-tablet) {
          max-width: toRem(450);
        }
      }
    }

    &-info {
      display: flex;
      flex: 2 1 toRem(500);
      flex-direction: column;
      padding: 20px;
      border-radius: 12px;
      background-color: var(--background-75);
      box-shadow: rgba(0, 0, 0, 0.65) 0px 5px 15px;
      gap: 15px;
    }

    .badge-details-rarity {
      margin: 0;
      padding: 0;
      color: var(--value-color);
      font-size: 1rem;
      font-weight: bold;
      letter-spacing: 3px;
      text-shadow: 1px 1px 0 var(--text-value-shadow),
        1px -1px 0 var(--text-value-shadow), -1px 1px 0 var(--text-value-shadow),
        -1px -1px 0 var(--text-value-shadow), 1px 0px 0 #000,
        0px 1px 0 var(--text-value-shadow), -1px 0px 0 var(--text-value-shadow),
        0px -1px 0 var(--text-value-shadow);
      text-transform: uppercase;

      @media (min-width: $content-breakpoint-tablet) {
        font-size: 1.1rem;
      }
    }

    &-name {
      margin: 0;
      color: #fff;
      color: var(--badge-color);
      font-size: 1.5rem;
      font-weight: 600;
      text-shadow: 2px 2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000,
        -2px -2px 0 #000, 2px 0px 0 #000, 0px 2px 0 #000, -2px 0px 0 #000,
        0px -2px 0 #000;

      @media (min-width: $content-breakpoint-tablet) {
        font-size: 1.75rem;
      }
      @media (min-width: $content-breakpoint-desktop) {
        font-size: 2.15rem;
      }
    }

    &-unlocked-date {
      color: var(--font-color-gray);
      font-size: 0.9rem;
      font-weight: bold;
    }

    &-description {
      margin-bottom: 1rem;
      font-size: 1rem;
      line-height: 1.5;

      @media (min-width: $content-breakpoint-tablet) {
        font-size: 1.15rem;
      }
    }

    &-related p {
      font-weight: bold;
    }

    .related-list {
      display: flex;
      flex-direction: column;
      padding-top: toRem(15);
      list-style: none;
      gap: toRem(10);

      .card {
        display: flex;
        align-items: center;
        padding: 0.5rem 0.8rem;
        border-radius: 10px;
        background-color: var(--background);
        box-shadow: rgba(0, 0, 0, 0.44) 0px 3px 8px;
        gap: 0.75rem;

        .icon {
          max-width: toRem(45);
          border-radius: 50%;
          box-shadow: rgba(0, 0, 0, 0.34) 0px 3px 6px;
        }
        .name {
          font-weight: bold;
        }
        .type {
          margin-left: auto;
          color: var(--font-color-gray);
          font-size: 0.9rem;
          font-weight: bold;
        }
      }
    }

    &-value p {
      margin-bottom: 5px;
      font-weight: 500;
    }

    @media (max-width: 768px) {
      &-content {
        flex-direction: column;
        align-items: center;
      }

      &-image-container,
      &-info {
        max-width: 100%;
      }
    }
  }
}
